/**
 * @name Bigger Pix
 * @version 3
 * @author djxnzi
 * @description Accessibility theme to make avatars and emojis bigger, and adjust containers accordingly
*/

/* Message Box */
[class*="message"] {
    /* Avatar */
    [class*="avatar"] {
        width: 72px;
        height: 72px;
        background-size: cover;
        border-radius: 50%;
    }

    /* Replies */
    [class*="repliedMessage"] {
        padding-left: 32px;
    }
    [class*="repliedMessageClickableSpine"] {
        display: none;
    }
    [class*="repliedTextPreview"] {
        position: relative;
        left: -32px;
    }

    /* Text & Embeds */
    :is(
        & [class*="messageContent"],
        & [class*="container"]
    ) {

        position: relative;
        left: 32px !important;
    }

    /* Fix audio control overflow */
    [class*="audioControls"] {
        width: calc(100% - 16px);

        [class*=olumeSliderWrapper] {
            margin-left: -28px !important;
        }
        [class*="volumeButton"] {
            margin-left: -24px;
            padding-right: 12px;

        }
    }

    /* User Area */
    [class*="header"] {
        position: relative;
        left: 16px;
    }
    [class*="messageListItem"]:has([class*="groupStart"]){
        padding-top: 15px;
    }

    /* Emoji */
    [class*="messageContent"] [class*="emoji"] {
        width: 2rem;
        height: 2rem;
    }
    [class*="repliedTextPreview"] [class*="emoji"] {
        width: 20px;
        height: 20px;
    }
}

/* Sidebar */
[class*="member"] {
    [class*="memberInner"] {
        padding: 0 !important;
        position: relative;
        top: 0;
        left: 0;
        height: 48px;
    }
    [class*="svg"] {
        width: 48px;
        height: 48px;
        background-size: cover;
        border-radius: 50%;
        margin-top: -6px;
    }
    [class*="content"] {
        padding-left: 8px;
    }
}
