/**
 * @name Bigger Pix
 * @version 3
 * @author djxnzi
 * @description Accessibility theme to make certain pictures bigger
*/

.avatar_f9f2ca {
    width: 72px;
    height: 72px;
    background-size: cover;
    border-radius: 50%;
}
.message_d5deea .contents_f9f2ca, .message_d5deea .container_b558d0 {
    margin-left: 25px!important;
}
.messageListItem_d5deea:has(.groupStart_d5deea){
  padding-top: 15px;
}
.message_d5deea .messageContent_f9f2ca .emoji {
    width: 2rem;
    height: 2rem;
}
.activityEmoji_a31c43 {
    width: 1rem;
    height: 1rem;
}
