/**
 * @name Bigger Pix
 * @version 2
 * @author djxnzi
 * @description Accessibility theme to make certain pictures bigger
*/

.avatar_c19a55 {
    width: 72px;
    height: 72px;
    background-size: cover;
    border-radius: 50%;
}
.message__5126c .contents_f9f2ca, .cozy_c19a55 .contents_c19a55, .container_b7e1cb {
    margin-left: 25px;
}
.messageListItem_d5deea:has(.groupStart_d5deea){
  padding-top: 15px;
}
.message__5126c .messageContent_c19a55 .emoji {
    width: 2rem;
    height: 2rem;
}
.activityEmoji_a31c43 {
    width: 1rem;
    height: 1rem;
}
.repliedTextPreview_f9f2ca .emoji{
    width: 20px;
    height: 20px;
}
